div.tone.module-inner(id='#{tone._id}', yt_id='#{tone.id}')
 img(src="#{tone.thumb}")
 div.tone-text
  span.muted 
  p 
   strong #{tone.title}
  p.muted #{tone.duration}
  span.label.label-important #{tone.category}
 div.clear